/* ======================== Contact US ======================== */
.contact-form-container {
  padding-top: 100px; /* Increase this value for more space */
  padding: 50px;
  background-color: #020229;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact-form-container .contact-text {
  margin-top: 300px;
  flex: 1;
  padding-right: 20px;
  text-align: left;
}

.contact-form-container .contact-text h2 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
  margin-right: 50px;
}

.contact-form-container .contact-text p {
  font-size: 18px;
  color:white;
  margin-bottom: 30px;
  margin-right: 50px;

}
/*This affects the letter*/
.contact-form-container .contact-form {
  margin-top: 150px;
  flex: 1;
  max-width: 500px; /* Limit the width of the form */
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form-container .contact-form .ant-input,
.contact-form-container .contact-form .ant-btn-primary {
  border-radius: 4px;
}

.contact-form-container .contact-form .ant-btn-primary {
  background-color: #053246;
  border-color: #053246;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-form-container .contact-form .ant-btn-primary:hover {
  background-color: #024a92;
}

/* =========================== Responsive Layout ============================== */

@media (max-width: 768px) {
  .contact-form-container {
    flex-direction: column; /* Stack the text and form on top of each other */
    align-items: center;
  }

  .contact-form-container .contact-text,
  .contact-form-container .contact-form {
    flex: 1;
    max-width: 100%;
    padding-right: 0;
  }

  .contact-form-container .contact-form {
    margin-top: 30px;
  }
}

